body {
    font-family: 'Open Sans', sans-serif;
}

/* Mix  */
a {
    text-decoration: none;    
}
.inline-menu {
    list-style: none;
}
.inline-menu li {
    display: inline-block;
    padding-right: 30px;    
}

/* Header  */

#header-top {
    background-color: #fff;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#logo  {
    height: 12px;
    padding-left: 15px;
}
#main-nav {
    text-align: right;    
}
#aside-nav {
    padding-right: 10px;
    text-align: right;   
        
}
#aside-nav .inline-menu li:last-child a{
    background-color: black;
    color: #fff;
    padding: 10px 13px;
    font-size: 12px;    
}
#main-nav .inline-menu li a, #aside-nav .inline-menu li a {
    color: #000;
    font-size: 0.70rem;    
}
#mobile-hamburger {
    text-align: right;
    font-size: 1.3em;
    padding-right: 30px;
}
#jumbotron {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 625px;
    background-position: center;
    position: relative;
    margin-bottom: 70px;
}
#jumbotron-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#jumbotron-text p, h1 {
    color: #fff;
    margin: 10px 0px;    
}
#jumbotron-text img {
    width: 150px;
    margin: 15px 5px;    
}

/* Main  */
#products {
    margin-bottom: 70px;
}
.product-box{
    padding: 55px;
    margin: 25px;
    background-color: #fafafa;
    text-align: center;
}
.img_products_logo {
    height: 25px;
    max-width: 100%;    
}
.margin-top-25 {
    margin: 25px 0;

}
.product-text {
    font-size: 1.3rem; 
    display: inline-block;
    width: 100%;       
}
.link-arrow {
    text-decoration: none;
    color: #0070c8;
}
.img_products_item {
    max-height: 300px;
    max-width: 100%;
}

/* Responsive adjustments  */
@media screen and (max-width: 992px) {
    #logo-shift {
        text-align: center;
    }
}